* {
    margin: 0;
    padding: 0;
}
body {
    font-size: 13pt;
    font-family: Helvetica, sans-serif;
    color: rgb(48,48,48);
    background: url('../images/bg.png') repeat;
}

p {
    font-family: Helvetica, sans-serif;
    margin:1.5em;
    line-height: 1.4em;
}

h1 {
    font-size:2.4em;
    padding:10pt;
    font-family: 'Rochester', cursive;
    float:right;
    background: rgb(256,256,225);
    border-left: 4px silver solid;
    border-bottom: 4px silver solid;
}
h2 {
    font-size:1.4em;
    padding: .5em 0;
    border-bottom: rgb(75,196,196) solid 3px;
}
h3 {
    font-size:1.8em;
}
h4 {
    font-size:1.6em;
}
h5 {
    font-size:1.4em;
}
h6 {
    font-size:1.2em;
}

.ingress{
    padding:1.5em;
}

img {
    width: 300px;
    margin:1.5em;
}

a.readmore:after {
    content: "\2026"
}

@media (min-width:1024px)
{
    main {
        clear: both;
        padding: 2em;
    }

    article {
        background: #fff;
        width:auto;
        display: block;
        float:left;
        width: 41%;
        padding:1.5em;
        margin:1.5em;
    }
    section {
        clear: none;
    }
    time {
        display: block;
        float:left;
        background: rgb(75,196,196);
        color: white;
        padding: 4px;
        position: relative;
    }
    time > span {
        display: block;
        width:auto;
    }
    span.day {
        font-size: 2em;
    }
    span.month{
        font-size: .8em;
    }
}